<div id="add_edit_tree" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="title_form_tree">เพิ่ม/แก้ไข รายการในคลังข้อสอบ</h3>
  </div>
  <div class="modal-body" id="form_tree"> </div>
  <div class="modal-footer">
    <button class="btn btn-primary" onclick="$('#add_edit_tree form:first').submit()">บันทึก</button>
    <button class="btn" data-dismiss="modal">ปิด</button>
  </div>
</div>